<div class="container">
<h2><%= @restaurant.name %></h2>
<br>

  <div>
    <ul>
      <li><strong>Address:</strong> <%= @restaurant.address %></li>
      <li><strong>Phone Number:</strong> <%= @restaurant.phone_number %></li>
      <li><strong>Category:</strong> <%= @restaurant.category.capitalize %></li>
    </ul>
  </div>


  <div id="back-btn">
    <%= link_to 'Edit', edit_restaurant_path(@restaurant), class: 'btn btn-primary' %>
  </div>
  <div id="back-btn">
    <%= link_to 'Add a Review', new_restaurant_review_path(@restaurant), class: 'btn btn-primary' %>
  </div>
  <ul>
    <br>
    <br>
    <br>
    <% @restaurant.reviews.each do |review| %>
      <p>Review by: Jack Mentali</p>
      <li><%= review.content %> | Rated by user: <%= review.rating %> /5</li>
    <% end %>
  </ul>
</div>

